*{
  font-family: 'Roboto', sans-serif;
}
:root {
  --body-background-logged-out: url('@/assets/bg.jpg');
  --body-background-logged-in: #191621;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--body-background-logged-out) center/cover;
  transition: opacity 0.3s ease;
  opacity: 1;
  z-index: -1;
}

body.logged-in::before {
  opacity: 0;
}

body.logged-in {
  background: var(--body-background-logged-in);
  position: static;
}


*{
  margin: 0;
}
.content{
  margin: 20px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  display: flex;
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #fdfdfd;
}
.left-container {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.right-container {
  padding-right: 20px;
  display: flex;
  align-items: center;
}
#title {
  margin-left: 20px;
}
#login-button button {
  background-color: #8544e6;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
}
#logout-button {
  padding-left: 20px;
}
#logout-button button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
}
#full-name{
  color: white;
  font-size: 18px;
}
#avatar{
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  margin-right: 10px;
  background-color: #d2d2d2;
}
.header-logged-in {
  background-color: #8544e6;
}

.header-logged-out {
  background-color: rgba(103, 89, 190, 0.23);
  border-bottom: 2px solid rgb(1, 0, 8);
}


.left-content {
  flex: 30%;
  font-size: 21px;
  color: #ffffff;
}
.left-content ul{
  list-style-type: none;
}
.left-content ul li{
  width: 70%;
  padding: 15px;
  margin-bottom: 10px;
}
ul .active{
  background-color: #8544e6;
  border: none;
  border-radius: 0 0 500px 0;
}

.right-content {
  flex: 70%;
}
.aboutme-content{
  color: white;
}
.aboutme-title{
  padding-bottom: 15px;

}
.aboutme-name .text{
  color: #a9a9a9;
}
.aboutme-name .value{
  margin-left: 10px;
}



.centered-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 74px);
  font-size: 72px;
}

.white {
  text-transform: uppercase;
  color: white;
  font-weight: 800;
}

.purple {
  color: #f90047;
  font-weight: 800;
  text-transform: uppercase;
}

.dark-grey {
  font-size: 12px;
  color: #534e68;

  font-weight: 300;
}

.green {
  color: #66fd63;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-label {
  margin-right: 10px;
}

.filter-button {
  background: none;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.filter-button.active {
  border-radius: 10px;
  font-size: 12px;
  background-color: rgba(249, 0, 71, 0.17);
  color: #f90047;
  font-weight: 700;
}
.filterText {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding-right: 12px;
}






.songFilterContent {
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
.table-main{
  color: #454056;
}

th, td {
  color: #fdfdfd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.formComponent form {
  padding: 10px;
}

.formComponent form label {
  font-weight: 800;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #8b898f;
}

.formComponent input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: #443f55;
  color: white;
  border: none;
  padding: 15px;
  font-weight: 600;
  font-size: 17px;
}

.formComponent input:disabled {
  color: #bbbbbe;
  font-size: 17px;
  font-weight: 600;
  background-color: #22202a;
}
.formComponent  label {
  color: #8b898f; /* Text color for the "Logged in at" label */
  font-weight: 700;
  margin-top: 10px;
}

.loggedNotification {
  color: #534e68;
  font-weight: normal;
}
.edit-form{
  background-color: #8544e6;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
}
